<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Notes App</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dust/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
  <div id="app" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">List</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Home</a>
             </li>
             
             
            </ul>

        </div>
    </nav>
    <section class="section">
      <div class="box">
        <h1 class="title">Grocery List</h1>
        <div class="field">
          <label class="label">Add Items</label>
          <div class="control">
            <input class="input" type="text" v-model="newNote" placeholder="Enter your note here">
            <input class="input" type="text" v-model="itemNumber" placeholder="Enter your quantity here">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" @click="addNote">Add item</button>
          </div>
        </div>
        <div class="content">
            <h2>Shopping list are: </h2>
          <ul>
            <li v-for="(num, index) in number" :key="index" class="box">
                {{ number }}
                <button class="button is-danger is-small" @click="deleteNote(index)">Delete</button>
            </li>
            <li v-for="(note, index) in notes" :key="index" class="box">
              {{ note }}
              <button class="button is-danger is-small" @click="deleteNote(index)">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        return: {
            min:0,
            max:0,
            itemNumber: null,
        },
        newNote: '',
        notes: [],
        number:''
      },
      methods: {
        addNote() {
          if (this.newNote.trim() !== '') {
            this.notes.push(this.newNote);
            this.number.push(this.itemNumber);
            this.newNote = '';
            this.itemNumber='';
          }
        },
        deleteNote(index) {
          this.notes.splice(index, 1);
        }
      }
    });
  </script>
</body>
</html>